<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Learning</title>
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon" sizes="32x32" />
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/bulma.min.css">
    <link rel="stylesheet" href="../static/vendors/fontawesome-free-5.11.2-web/css/all.min.css">
  <!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
  </head>
  <body>
    {% block body %}{% endblock %}
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/jquery-ui.min.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
