{% extends "layout.html" %}

<!-- <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>-->
<!--     <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript" src="static/js/index.js"></script> -->
<!--     <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
 -->
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

	<h1 class="ui header">Image Classifier</h1>

	{% if current_user.is_authenticated %}

		<h2 class="ui header">Hi {{ current_user.first_name }}!</h2>

   		{% if user.paid == 0 %}
	   		<p>You must pay to access the model!</p>
	   		<p>Price: 50 euros</p>

<!-- 			<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
					data-key="pk_test_6DkaDw0woAqDklauqEUb5rrH00503hwbWm"
					data-description="Payment"
					data-ammount="50"
					data-email="{{ email }}"
					data-locale="auto">
			</script>
 -->
<!-- 			<button id="checkout-button">Pay</button>
 -->   		
 		<input id="cardholder-name" type="text">
		<!-- placeholder for Elements -->
		<div id="card-element"></div>
		<button id="card-button" data-secret="{{ client_secret }}">
		  Submit Payment
		</button>
 	{% endif %}
		
		{% if user.paid == 1 %}
		<p>You have paid</p>
	   		<form action="upload.php" method="post" enctype="multipart/form-data">
			    Select image to upload:
			    <input type="file" name="fileToUpload" id="fileToUpload">
			    <input type="submit" value="Upload Image" name="submit">
			</form>
   		{% endif %}

	{% endif %}



	{% if not current_user.is_authenticated %}

		<p>Please sign up/sign in to use the app</p>

	{% endif %}

<script src="/static/js/index.js"></script>

{% endblock %}

